/*
** Height
*/
.has-full-height {
    height: 100vh !important;
}

.has-half-height {
    height: 50vh !important;
}

/*
** Width
*/
.has-full-width {
    width: 100% !important;
}

.has-three-quarter-width {
    width: 75% !important;
}

.has-half-width {
    width: 50% !important;
}

.has-quarter-width {
    width: 25% !important;
}

/*
** Position
*/
.is-stuck-top {
    position: absolute;
    top: 0;
}

.is-stuck-right {
    position: absolute;
    right: 0;
}

.is-stuck-bottom {
    position: absolute;
    bottom: 0;
}

.is-stuck-left {
    position: absolute;
    left: 0;
}

.is-stuck-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.is-stuck-top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.float-right {
    float: right;
}

.is-stuck-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.is-stuck-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}